@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gravitas+One&family=Oswald:wght@200..700&display=swap');


h1 {
  text-transform: uppercase;
  text-align: center;
  /* Les tailles de polices doivent être en REM */
  font-size: 4rem;
  text-shadow: 6px 5px 6px rgb(0 0 0 / 32%);
  color: white;
  font-family: "Bungee", sans-serif;
}

h2{
    text-align: left;
    font-size: 2rem;
    font-family: "Gravitas One", serif;
    text-shadow: 6px 5px 6px rgb(0 0 0 / 32%);
}

body  {
    padding: 0;
    margin: 0;
background-color: #40513B;
}

nav {
    text-align: center; /* Centrer le texte*/
    font-size: 20px;
}

ul  {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
text-decoration: none;
}

nav li  {
  display: inline;
  list-style: none;
}

h2{
    font-family: "Bungee", sans-serif;
}

/* Fin partie header*/
/* Début image*/
.image{
  width: 100%;
}
/*Fin image*/

/*Début accueil*/
.accueil{
    text-align: center;
    color: white;
}
.parcours{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55%;
}
.parcoursgauche{
    width: 60%;
    margin-right: 10px;
}
.parcoursimage{
    margin-top: 2%;
    float: right;
}
/*Fin accueil*/

/*Début études*/
.etudes {
    background-image: url(images/simonevomfeld-sunrise-7493833_1280.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 10%;
}

.titreetudes {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.etudesecole {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* espace entre les blocs */
}

.ecole {
    border-radius: 8px;
    width: 70%;
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
}

.ecole img {
    width: 120px;
    height: auto;
    margin-top: 20px;
}


/*Fin études*/
/*Début expériences*/
.experiences{
    background-image: url(images/alainaudet-sunset-2421639_1280.jpg);
    padding-bottom: 5%; /*Ca va créer un espace en dessous du dernier bloc blanc*/
}

.titreexperiences{
    text-align: center;
    color: white;
}

.experiences h1{
    text-align: center;
}

.expcadre{
    margin-top: 5%;
    margin-left: 23%; /*Ca permet d'écarter les 2 blocs blanc vers la droite*/
}

.experienceinterim{
    width: 70%;
    height: 20%;
    background-color: white;
    align-items: center;
}

.experienceinterim{
    margin-left: 43%;
    width: 10%;
    height: 20%;
} 
